@model IEnumerable<WebApplication3Books.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добре дошли в Моята библиотека!</h1>
<h4>В Моята библиотека посетителите имат възможността да се запознаят с творчеството на относително голям брой български и чуждестранни автори.</h4>

<p>
    <a class="btn btn-primary" asp-action="Create">Добави книга</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <!-- @Html.DisplayNameFor(model => model.Title)-->
               Заглавие
            </th>
            <th>
                Автор
             <!--  @Html.DisplayNameFor(model => model.author)-->
            </th>
             <th>

            Описание
            </th>
            <th>

             @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                Жанр
              <!--  @Html.DisplayNameFor(model => model.type)-->
            </th>
             <th>
               Файл формат
              <!--  @Html.DisplayNameFor(model => model.type)-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileType)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Промняна</a> 
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Детайли</a> 
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a> 
                <a class="btn btn-success" asp-action="DownloadFileFromDatabase" asp-route-id="@item.Id">Свали</a>
            
            </td>
        </tr>
}
    </tbody>
</table>

