@model IEnumerable<WebApplication3Books.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добре дошли в Моята библиотека!</h1>
<h4>В Моята библиотека посетителите имат възможността да се запознаят с творчеството на относително голям брой български и чуждестранни автори.</h4>

<p>
    <a asp-action="Create">Добави книга</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Промняна</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
