@model IEnumerable<WebApplication3Books.Models.Book>

@{
    ViewData["Title"] = "Търсене";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Търсене в Моята библиотека!</h4>

<!--<form asp-controller="Book1" asp-action="Search" >
    <p>
        Заглавие: <input type="text" name="SearchString" />
        <input type="submit" value="Търси" />
    </p>

</form>
-->
@using (Html.BeginForm("Search","Books1",FormMethod.Get))
 @using (Html.BeginForm()){    
         <p> Заглавие или име на автор: @Html.TextBox("SearchString")   
         <input type="submit" value="Търси" /></p> 
        } 

        <form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple required />
    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />
   
    <button class="btn btn-success" type="submit" asp-controller="Books1" asp-action="UploadToDatabase">Upload to Database</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <!--@Html.DisplayNameFor(model => model.Title)-->
                Заглавие
            </th>
            <th>
               <!-- @Html.DisplayNameFor(model => model.author)-->
               Автор
            </th>
            <th>
               <!--  @Html.DisplayNameFor(model => model.type)-->
               Жанр
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
          

            <td>
     <a class="btn btn-success" asp-action="DownloadFileFromDatabase" asp-route-id="@item.Id">Свали</a>
                    </td>
        </tr>
}
    </tbody>
</table>
